@import "./assets/css/variable.scss";

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.navlinks {
  pointer-events: none;
}

.navlinks > * {
  cursor: pointer;
  pointer-events: auto;
  transition: 300ms opacity;
}

.navlinks:hover > * {
  opacity: 0.5 !important;
}

.navlinks:hover > *:hover {
  opacity: 1 !important;
}

.contactnav {
  ul {
    li {
      border-bottom: solid 1px transparent;
      transition: all 0.2s linear;

      &:hover {
        border-bottom: solid 1px $primary;
        color: $primary;
      }
    }
  }
}
.swiper-projet {
  .swiper-wrapper {
    height: 50%;
  }

  .swiper-slide {
    img {
      transition: all 4s ease-in-out;
    }
    p {
      transition: all 0.5s ease-in-out;
      opacity: 0;
      transform: translateY(0.5em);
    }

    &:hover {
      img {
        transform: scale(1.2);
      }

      p {
        opacity: 1;
        transform: translateY(0em);
      }
    }
  }
}
.robodico,
.laforet {
  img {
    display: none;
  }
  video {
    width: 150% !important;
    height: auto !important;
    object-fit: cover;
    overflow: 20px;
  }
}
/*-----EXPERTISE TEXT ANIM-----*/
.skill {
  min-height: 60%;

  &:hover {
    p {
      animation: loop 10s linear infinite;
    }
    @keyframes loop {
      0% {
        transform: translateX(0%, 0);
        opacity: 1;
      }
      100% {
        transform: translateX(calc(-100% + 15%));
        opacity: 1;
      }
    }
  }
}

/*-----STORY BLOCKS-----*/

body {
  counter-reset: my-sec-counter;
}

.page {
  span {
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: $title;
    font-weight: bold;
    color: $primary;
    font-size: medium;
  }
}

.univers,
.aventure {
  .illustration {
    order: 2;
  }
}
.Dsg {
  display: flex;
  flex-wrap: nowrap;
}

/*-----ACCOMPAGNEMENT TITLE ANIM-----*/
.I-anim {
  position: relative;

  &:before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    display: block;
    background: url("@/assets/icons/bulb.svg");
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 36.4%;
    margin: 0;
    animation: bgIdea 0.4s ease-in 1s forwards;
    opacity: 0;
  }
  @keyframes bgIdea {
    0% {
      opacity: 0;
      top: 18%;
    }
    100% {
      opacity: 1;
      top: 12%;
    }
  }

  span {
    display: block;

    &:nth-child(4) {
      transform-origin: 60% 62%;
      animation: Idea 1.5s ease-in-out forwards;
    }
    @keyframes Idea {
      0% {
        transform: scaleY(1);
      }
      75% {
        transform: scaleY(0.2);
      }

      100% {
        transform: scaleY(0.5);
      }
    }
  }
}

/*-----EXPERTISE LINKS ANIMATION-----*/
.expertise-link h3 {
  animation: linksMove 10s linear infinite;
}
@keyframes linksMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translateX(calc(-100% + 35%));
  }
}

.projets-link h3 {
  animation: linksMove 10s linear infinite;
}
@keyframes linksMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translateX(calc(-100% + 55%));
  }
}

.fadeImg-enter-active,
.fadeImg-leave-active {
  transition: all 1.2s;
}

.fadeImg-enter,
.fadeImg-leave-to {
  opacity: 0;
  transform: translate(-50%, 20%) scale(0.9);
  transform-origin: center;
}
