html{

    height: 100%;
    font-size: 14px;
}

body{

    height: 100%;
    background:ghostwhite;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.container{

    h1{

        background:honeydew;
        color:aqua;
    }
}

nav{
    width: 100vw;
    height: 10rem;
    background: aqua;

    ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        li{
            

            a{
                text-decoration: none;
            }
        }


    }
}
